<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <nav>
        <h1>Flask</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#">Flaskfy</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</head>

<body>
    <main>
        <h2>The installation worked succesfully! Congratilations</h2>
        <span>This page was genereted using flaskfy | <span class="release">release 0.0.1</span></span>
        <span>Flaskfy simplifies your project</span>

        <button style="margin-top:5%;color:white;font-family: arial;">WELCOME</button>
    </main>
</body>

</html>