<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <nav>
        <h1>Flask</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#">Flaskfy</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</head>
<style>
    h4 {
        text-align: center;
        margin-top: -5%;
        color: white;
        font-family: arial;
        font-size: 25px;
        font-weight: 400;
    }
</style>

<body>
    <main>
        <h4>You can use routes over here</h4>
        <form action="" class="formData">
            <div class="form-group">
                <select name="" id="" class="form-select">
                    <option value="">GET</option>
                    <option value="">POST</option>
                    <option value="">PUT</option>
                    <option value="">DELETE</option>
                </select> <input type="url" placeholder="Give Link to use">

            </div>
        </form>
    </main>
</body>

</html>